<div class="inputUrl">
  <%= form_for @bookmark do |f| %>

  <p>
    <%= f.text_field :url, :placeholder=>"url..." %>
      <% if @bookmark.errors.any? %>
      <%= @bookmark.errors.messages[:title][0] %>
      <% end %>
    <%= f.submit "Add" %>
  </p>

  <% end %>
</div>