<div class="inputUrl">
  <%= form_for @bookmark , remote: true do |f| %>
  <!-- :html => {:onsubmit=>"return ajaxAddBookmark(this);"} -->

  <p>
    <%= f.text_field :url, :placeholder=>"url..." %>
      <% if @bookmark.errors.any? %>
      <%= @bookmark.errors.messages[:title][0] %>
      <% end %>
    <%= f.submit "Add" %>
  </p>

  <% end %>
</div>