// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0 20px 0 20px;
}

h1 {
  background-image: url("/assets/tag.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0.9em;
  padding-left: 1.1em;
}

div.inputUrl {
  width: 100%;
  height: 80px;

  p {
    display: block;
    width: 100%;
    max-width: 520px;
    height: 30px;
    float: right;
    margin: 20px 0 20px 0;
    vertical-align: middle;

    input {
      display: inline-block;
      float: right;

      &#bookmark_url[type="text"] {
        width: 72%;
        float: left;

        border: 1px solid #bbb;
        box-shadow: 0 0 0 #fff inset;
        -webkit-box-shadow: 0 0 0 #fff inset;
        -moz-box-shadow: 0 0 0 #fff inset;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
      }

      &[type="submit"] {
        height: 30px;
        width: 20%;
        float: right;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        background-color: #fb8a78;
        color: #fff;
      }
    }
  }
}

div#bookmarkGrid {
  margin: 0 !important;
  padding: 0;

  div.panel {
    $list-height: 140px;

    list-style: none;
    width: 280px;
    vertical-align: top;
    height: $list-height;
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0 20px 20px 0;

    div.wrap {
      height: $list-height;
      width: 260px;
      padding: 10px;
      background-repeat: no-repeat;
      background-color: rgba(0,0,0,0.4);
    }

    a {
      font-size: 20px;
      text-decoration: none;
      color: #fff !important;

      &.bookmarkLink:visited {
        color: #fff;
      }
    }

    div.panelFooter {
      display: none;
      position: absolute;
      overflow: hidden;
      padding: 0 12px 0 12px;
      margin: 0 -12px 0px -12px;
      width: 100%;
      bottom: 0;
      height: 0;

      .url {
        display: block;
        overflow: hidden;
        height: 20px;
        padding-bottom: 4px;
        text-align: left;
        background-color: #f39c12;

        a {
          padding: 0 12px 0 12px;
          font-size: 13px;
          line-height: 18px;
        }
      }

      .actions {
        display: block;
        height: 32px;
        line-height: 1.6em;
        text-align: right;
        background-color: #2980b9;

        a {
          height: 32px;
          line-height: 22px;
          color: #ffa;
          margin-left: 8px;
          display: inline-block;
          vertical-align: middle;

          &:last-child {
            margin: 0 12px 0 6px;
          }

          img {
            max-height: 20px;
            width: auto;
          }
        }
      }
    }
  }
}